body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.297);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    background-color: hsl(235, 97%, 65%);
    font-size: 7rem;
    margin: 0 10px;
    cursor: pointer;
    min-width: 160px;
    border-radius: 250px;
}
#resultDisplay{
    font-size: 6rem;
}
.scoreDisplay{
    font-size: 2rem;

}
.greenText, #playerScore{
    color: rgb(2, 104, 2);
}
.redText, #computerScore{
    color: rgb(255, 45, 45);
}